extends plantilla2

block content
  .login-container
    h1(class='title') #{titulo}

    form(action='/login' method='POST' class='login-form')
      .form-group
        label(for='username' class='form-label') Usuario
        input(type='text' name='username' id='username' placeholder='Usuario' class='form-input', required)

      .form-group
        label(for='password' class='form-label') Contraseña

      .contrasena-container
        input(type='password' name='password' id='password' placeholder='Contraseña' class='form-input', required)
        button(type='button' id='mostrarContrasena') Mostrar

      .form-group
        button(type='submit' class='submit-button') Iniciar sesión

    .reg-container
      p ¿No tienes cuenta?
      a(href='/registro' class='register-link') ¡Regístrate!
    
    .reg-container
      span 
        a(href='/' class='register-link') Regresar al inicio

    script.
      const passwordInput = document.getElementById('password');
      const mostrarContrasenaBtn = document.getElementById('mostrarContrasena');

      mostrarContrasenaBtn.addEventListener('click', () => {
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            mostrarContrasenaBtn.innerHTML = '<i class="material-symbols-rounded">Ocultar</i>';
        } else {
            passwordInput.type = 'password';
            mostrarContrasenaBtn.innerHTML = '<i class="material-symbols-rounded">Mostrar</i>';
        }
      });